/* html{
  background: url(./assets/ricky-morty6.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */

body{
  /* background: url(./assets/fondo1-rickyMorty-unsplash.jpg) no-repeat center center fixed; */
  /* background: url(./assets/ricky-morty6.jpg) no-repeat center center fixed; */
  background: url(./assets/ricky-morty8.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
   font-family: Arial, Helvetica, sans-serif;
} 

.allPageContainer {
    display: flex;
    /* justify-content: space-between; */
    justify-content: space-around;
    font-size: larger;
    flex-wrap: wrap; 
    column-count: 3;
    gap: 30px; 
    margin: 100px;
    margin-top: 240px;
}
.container {
   display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
    width: 290px;
    height: 480px;
    margin: auto;
     border: 0.5px solid lightgrey; 
    border-radius: 30px;
    padding: 1em;
    /* box-shadow: 10px 5px 7px #bbc1cc; */
    box-shadow: 10px 5px 7px #9eecec;
    color:  #120902;
    background-color: white;
    opacity: 1;
  }
  .container:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
img{
    border-radius: 10px;
    
}
.name{
    text-transform: uppercase;
    font-weight: 600;
}

.aliveAndgender{
    display: flex;
    align-items: center; 
    justify-content: space-around;
    font-weight: 200;
    width: 70px;
    height: 32px;
    color: thistle;
    /* border: 4px solid pink; */
    border: 0.5px solid lightgrey;
    border-radius: 50px;
    box-shadow: 10px 5px 7px #bbc1cc;
    /* background-color: #F3BB91; */
  
}
/* .shadow {
    text-shadow: #a59f8f 1px 0 10px;
  } */
  a {
    color: whitesmoke;
    background-color:#E89E53;
    /* border: 0.5px solid lightgrey; */
    border-radius: 100px;
    text-decoration: none;
    text-transform: lowercase;
  }
  
  a:hover {
    background-color: #1F7098;
  }
  
 button{
   height: 50px;
   width: 180px;
   /* border: o.5px solid rgb(6, 6, 53); */
   border: 0;
  border-radius: 15px;
  color: thistle;
  font-size: 15px;
  /* text-decoration: none; */
  text-align: center;
  cursor: pointer;
  background-size: cover;
  background: url(./assets/fondo1-rickyMorty-unsplash.jpg)
 }